body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px; /* Una cuarta parte del tamaño del círculo (200px/4) */
    cursor: pointer;
    position: relative;
    transition: 1s;
}
.circle:active {
    transform: scale(1.5)
}

.circlesecond {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    animation: pulse 1s infinite alternate;
}
.circlesecond a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; /* Tamaño de texto ajustado al círculo secundario */
}
.circlesecond:hover {
    animation: none; /* Detiene la animación cuando el ratón está sobre el círculo principal */
}

.circle:hover .circlesecond {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: translate(var(--x), var(--y)) scale(1);
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(1.03);
    }
}

/* Estilo del enlace móvil (electrón) */
.electron {
    display: inline-block;
    padding: 20px 20px;
    background-color: #2ecc71; /* Color diferente para el electrón #808080; #f1c40f*/
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute; /* Posicionado dinámicamente */
    z-index: 500; /* Debajo del núcleo */
    transition: all 0.04s;
    opacity: 0.7;
  }

  .electron:hover {
    opacity: 1;
}